body {
    background-image: url('/img/pizza.jpg');
    background-size: cover;
}

.offcanvas {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20rem;
    background-color: rgba(255,255, 255, .5);
}

.validation-error span { color: red; }

.message-bar {
    padding: .5rem;
    background-color: #9f9f9f;
    margin: .5rem 0;
}

.message-bar.alert {
    background-color: red;
    color: white;
}
